---
title: "mp-mashop website"
title_seo: "site de marielle pottier - mp-mashop"
description: "site web de marielle pottier - mp-mashop"
---

<div class="welcome">
  <div class="logo">
    <%= image_tag "mashop-white-logo.png" %>
  </div>
  <h1>Middleman is Running</h1>
  <p class="doc">
    <%= link_to "Read Documentation Online", "https://middlemanapp.com", target: "_blank" %>
  </p><!-- .doc -->
</div><!-- .welcome -->
